/*
 * Import other SCSS files for variables, inheritance classes, and mixins
 */
@import "normalize.scss";
@import "_variables.scss";
@import "_mixins.scss";

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {

}

body {

}