* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
article {
  width:300px;
  margin-left:auto;
  margin-right:auto;
  margin-top:200px;
}
article p {
  color:#FF0000;
}

@media screen and (max-width:800px) {
  article p {
    color:#0000FF;
  }
}
